textarea::-webkit-scrollbar {
    width: 13px;
}

textarea::-webkit-scrollbar-track {
    background: none;        
}

textarea::-webkit-scrollbar-thumb {
    background-color: #9ca3af;
    border-radius: 5px;
    border: 3px solid white;
}

#message-container::-webkit-scrollbar {
    width: 20px;
}

#message-container::-webkit-scrollbar-track {
    background: none;        
}

#message-container::-webkit-scrollbar-thumb {
    background-color: #a8a29e;
    border-radius: 16px;
    border: 6px solid #f2f2f2;
}